*{
    margin: 0;
    font-family: "Poppins";
    list-style: none;
    text-decoration: none;
}

.bg3 {
    background-color: #ebecf0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul a {
    transition: 0.4s;
}

ul{
    display: flex;
    justify-content: right;
    align-items: flex-end;

}


li{
    color: #6d7587;
    margin: 25px;
    height: 70px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 162px;
    border: 5px solid #ebecf0;
    box-shadow: 9.91px 9.91px 15px #d9dade, -9.91px -9.91px 15px #ffffff;
    cursor: pointer;
    transition: 0,2s;
    position: absolute;right:50px;top: 550px;
}

img{
    border-radius: 360px;
    position: absolute;left:20px;top: 175px;
    width: 350px;
    
}


li:hover{
    box-shadow: 9.91px 9.91px 15px #d9dade, -9.91px -9.91px 15px #ffffff,
    inset 9.91px 9.91px 15px #d9dade, inset -9.91px -9.91px 15px #ffffff;
    
}

i{
    font-size: 2em;

}

h1{
    font-size: 130%;
    position: absolute;right: 100px;top: 330px;
}
